

body {
    background-color:rgb(55, 52, 125);
    margin: 0;
    padding: 0;
    border:200px;
    text-align: center;
}

h1 {
    margin-top: 0%;
    font-family: 'Kaushan Script', cursive;
    font-size: 4rem;
    /* width: 7%;
    margin: 0 auto; */
}
h2 {
    margin-top: 0%;
    font-family: 'Kaushan Script', cursive;
    font-size: 2.2rem;
    color: antiquewhite;
    /* width: 7%;
    margin: 0 auto; */
}
h3 {
    margin-top: 0%;
    font-family: 'Arial';
    font-size: 1.3rem;
    color: antiquewhite;
    /* width: 7%;
    margin: 0 auto; */
}
.update{
    font-family: Norican;
    font-weight: 100;
    color: darkcyan;
}
.top-container {
    background-color: rgb(55, 52, 125);
    color: #f7f3fa;
   
    border: 0;
    margin-top: 0;
    padding: 0;
    
}



.pro{
    animation:blinkingText 4s ease-in-out infinite;
    padding: 1rem;
    border-radius: 50%;
}       
  @keyframes blinkingText{
    0%{     background-color: #ffee02ed; color:black;   }
    25%{    background-color: transparent; color: white;  }
    50%{    background-color: transparent; color: white; }
    75%{    background-color: transparent; color: white; }
    100%{   background-color: #ffee02ed; color:black;   }
}

